<%- include('./partials/header.ejs') %>

<link rel="stylesheet" href="/style.css">
<form action="/jobs" method="get">
    <input type="text" name="search">
    <input type="submit" value="search">
</form>
<h1>List of all jobs</h1>
<a class="btn btn-danger" href="/jobs/new">Add a new job</a>
<div class="row">
    <% for(let job of foundJobs){ %>
    <div class="card ">
        <img src="<%= job.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= job.name %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/jobs/<%= job._id %>" class="btn btn-primary">Read More</a>
        </div>
      </div>
    <% } %>
</div>

<%- include('./partials/footer.ejs') %>

<!-- style="width: 18rem; padding: 10px;" -->