<%- include('./partials/header.ejs') %>  
    
    <h1>show page for <%= job.name%></h1>
    
    <div class="row">
        <div class="col-3">
            <img class="img-fluid" src="<%= job.image%>" alt="">
       </div>
     </div>
     <div>
        <div><%= job.address %></div>
        <div><%= job.deadline %></div>
        <div><%= job.cgpa %></div>
        <div><%= job.type %></div>
        <div><%= job.package %></div>
     </div>
    <a class="btn btn-success" href="/jobs/<%=job._id%>/edit">Edit</a>
    <form  action="/jobs/<%=job._id%>?_method=DELETE" method="post">
       <input class="btn btn-danger"type="submit" value="delete">
    </form>
<%- include('./partials/footer.ejs') %>